<?xml version="1.0" encoding="utf-8"?>
<configuration debug="true">

    <!-- Console Appender for displaying logs in the console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [BizBook-API] %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender for runtime logs -->
    <appender name="RUNTIME_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>src/main/resources/log/runtime.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/archived/runtime.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [BizBook-API] %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web.client.RestTemplate" level="DEBUG" additivity="false">
        <appender-ref ref="RUNTIME_LOG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework.web.reactive.function.client.ExchangeFilterFunction" level="DEBUG" additivity="false">
        <appender-ref ref="RUNTIME_LOG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>


    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="RUNTIME_LOG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="info">
        <appender-ref ref="RUNTIME_LOG"/>
        <appender-ref ref="CONSOLE"/>
    </root>



</configuration>
